body {
	text-align: center;
	margin: 0;
}

a {
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 20px;
	margin: 0 20px 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

h1, h2, h3, a {
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
}

p{
	font-family: "Bitter", serif;
}

h1 {
	color: #0D2C40;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2, h3{
	color: #F15B31;
	font-weight: 600;
	font-size: 18px;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0 20px 0;
}

main {
	width: 850px;
	margin: 35px auto 35px auto;
}

img {
	margin: 40px 8px 0 8px;
}

footer {
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	font-family: Raleway, sans-serif;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}